<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>

<style>
    * {
        font-family: Vodafone;
    }
</style>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <img src="~/Images/logoo.png" height="27" style="margin-top:-5px" />
                </a>
                @Html.ActionLink("Demand Tool", "Index", "Demands", new { area = "" }, new { @class = "navbar-brand" })

                
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-bottom:4%">
        
        @RenderBody()
     

        <footer class="body-content navbar-fixed-bottom" style="background-color:white">
            <hr style="margin-bottom:4px;margin-top:0px;" />
            <p class="col-lg-3 col-md-3 col-sm-3  vodafone-red ">
                The future is exciting.<br />
                <strong>  Ready?</strong>
            </p>
            <p class="col-lg-offset-2 col-lg-3 col-md-offset-2 col-md-3 col-sm-offset-2 col-sm-3  vodafone-red ">
                &copy; @DateTime.Now.Year - TSSE - Automation
                <br />
                <strong> Digitalization Team</strong>
            </p>
            <img src="~/Images/NewBrand.png" class="col-lg-offset-2 col-lg-2 col-md-offset-2  col-md-2 col-sm-offset-2 col-sm-2  col-xs-6  img-responsive" style="margin-bottom:10px" />
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
