@model IEnumerable<DemandTool.MVC.Models.Demand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    * {
        font-family: Vodafone;
    }
</style>

<h2>Demands</h2>


<div class="row justify-content-end">
    <div class="col-md-10">

        @Html.ActionLink("Create New", "Create")
    </div>
    <div class="col-md-2">

    </div>
    @Html.ActionLink("Export", "ExportToExcel")
</div>


<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemandNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DemandDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>

            <th>@Html.DisplayNameFor(model => model.Phase)</th>
            <th>@Html.DisplayNameFor(model => model.DemandStatus)</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.ActionLink(item.DemandNumber, "Details", new { id = item.Id })


                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DemandDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DemandStatus)
                </td>
                <td></td>
            </tr>
        }

    </table>
